<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid p-5"   style="margin-top: 70px; margin-bottom: 100px">
        <p class="text-center  fs-3 mt-4">Admin Dashboard</p>
        <div class="row p-5">
            <div class="col-md-4 mt-2">
                <a href="/admin/loadAddProduct" class="text-decoration-none">
                <div class="card card-sh">
                    <div class="card-body text-center text-primary ">
                        <i class="fa-solid fa-circle-plus fa-3x text-primary"></i>
                        <h4>Add product</h4>
                        <h4>........</h4>
                    </div>
                </div>
                </a>
            </div>


            <div class="col-md-4  mt-2">
                <a href="/admin/category" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary ">
                            <i class="fa-solid fa-layer-group fa-3x text-primary" ></i>
                            <h4>Add Category</h4>
                            <h4>........</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-2">
                <a href="/admin/products" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary ">
                            <i class="fa-solid fa-book-open-reader fa-3x text-warning "></i>
                            <h4>View Products </h4>
                            <h4>........</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-5">
                <a href="/admin/orders" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary ">
                            <i class="fa-solid fa-box-open fa-3x text-warning"></i>
                            <h4>Orders </h4>
                            <h4>........</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-5">
                <a href="/admin/users" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary ">
                            <i class="fa-solid fa-house-user fa-3x text-primary"></i>
                            <h4>Users</h4>
                            <h4>........</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mt-5">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary ">
                            <i class="fa-solid fa-user-plus fa-3x"></i>
                            <h4>Add Admin</h4>
                            <h4>........</h4>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>
</body>
</html>