<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Shopping _Cart </title>
</head>
<body>
<section>
    
   <!-- start of  Slider-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="IMG/pexels-karolina-grabowska-5632407.jpg"class="d-block w-100" alt="..." height="600px">
            </div>
            <div class="carousel-item">
                <img src="IMG/pexels-cottonbro-3944405.jpg" class="d-block w-100" alt="..." height="600px">
            </div>
            <div class="carousel-item">
                <img src="IMG/pexels-olly-1050244.jpg" class="d-block w-100" alt="..." height="600px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
   <!-- End of slider -->
    
    
<!--    Start of  Category Module-->
    <div class="container">
        <div class="row">
            <p class="text-center fs-4">Category</p>
            <div class="col-md-2" th:each="c:${category}">
                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img th:src="@{'IMG/Category/'+${c.imageName}}" width="65%" height="140px"><br>
                        <a  th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
                    </div>
                </div>
            </div>


<!--            <div class="col-md-2">-->
<!--                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p>Beauty </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-2">-->
<!--                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p>Grocery</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-2">-->
<!--                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p>Clothes</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-2">-->
<!--                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p>Plant</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-2">-->
<!--                <div class="card rounded-circle shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p>Books</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
        
    </div>
<!--    End of Category Module-->

     <!--Start of lastest product -->
    <div class="Container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4"> latest Product </p>

            <div class="col-md-3" th:each="p:${products}">
                <div class="card  shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img alt=" " th:src="@{'IMG/Category/'+${p.image}}" class="" width="65%" height="140px">
                        <p class="text-center"><a  th:href="@{'/product/'+${p.id}}" class="text-decoration-none ">[[${p.title}]]</a>a></p>
                    </div>
                </div>
            </div>

<!--            <div class="col-md-3">-->
<!--                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded ">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p class="text-center">Electronic</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--                <div class="card  shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p class="text-center">Electronic</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-3">-->
<!--                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="IMG/Category/electronic.jpg" width="65%" height="140px">-->
<!--                        <p class="text-center">Electronic</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->





        </div>
    </div>
   <!-- end of lastest product-->
</section>

</body>
</html>